.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.form input {
  padding: 20px;
  background-color: var(--bg);
  color: var(--text);
  border: none;
  border-radius: 5px;
  outline: none;
}

.form button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
